@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Montserrat:wght@200;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

// All Project colors
:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);

  //    Fonts and Typography
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.accordionContainer {
  .title {
    font-size: var(--normalFontSize);
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    justify-content: space-between;
    background-color: var(--primaryColorLight);

    span {
      cursor: pointer;
      .icon {
        font-size: 1.2rem;
        color: var(--blackColor);
      }
    }
  }

  .description {
    font-size: var(--smallFontSize);
    display: flex;
    align-items: center;
    line-height: 20px;
    white-space: pre-line;
    height: 0;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    padding: 0 1rem;
    background: var(--cardColor);
    border-radius: 10px;
    margin-top: 5px;
  }

  .show {
    height: 140px;
    opacity: 1;
  }

  .activeTitle {
    background: var(--primaryColorLight);
    border-radius: 10px 10px 0 0;
  }
}

.questions {
  .secHeading {
    h3,
    h4 {
      padding-bottom: 1.5rem;
    }
    p {
      font-size: var(--smallestFontSize);
      color: var(--blackColor);
      padding-bottom: 1rem;
    }
  }

  .form {
    .formContent {
      gap: 1rem;

      input,
      textarea {
        font-size: 12px;
        font-weight: 500;
        background: var(--cardColor);
        width: 100%;
        padding: 1rem;
        border: none;
        border-radius: var(--borderRadius);
        outline: none;
        transition: all 0.5s ease-in-out;

        &:focus {
          background: var(--primaryColorLight);
        }
      }

      textarea {
        height: 100px;
        border-radius: 10px;
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .accordionContainer {
    .title {
      font-size: var(--h3FontSize);

      span {
        .icon {
          font-size: 1.7rem;
        }
      }
    }
  }
}
