@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Montserrat:wght@200;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

// All Project colors
:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);

  //    Fonts and Typography
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.portfolio {
  .secContainer {
    gap: 2rem;
    .leftContent {
      .grid {
        .singlePortfolio {
          gap: 1rem;
          align-items: flex-start;

          .iconDiv {
            img {
              height: 50px;
              width: 50px;
            }

            .infor {
              h4 {
                padding-bottom: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .portfolio {
    .secContainer {
      .leftContent {
        .secHeading {
          h3 {
            font-size: 2rem;
          }

          p {
            font-size: var(--h3FontSize);
          }
        }

        .grid {
          grid-template-columns: 2, 1fr;

          .singlePortfolio {
            gap: 1rem;

            .iconDiv {
              img {
                height: 60px;
                width: 60px;
              }
            }

            .info {
              h4 {
                padding-bottom: 0.5rem;
                font-size: var(--normalFontSize);
              }

              p {
                font-size: var(--normalFontSize);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 660px) {
  .portfolio {
    .secContainer {
      grid-template-columns: repeat(2, 1fr);
      .leftContent {
        .secHeading {
          h3 {
            font-size: 2rem;
          }

          p {
            font-size: var(--h3FontSize);
          }
        }

        .grid {
          grid-template-columns: repeat(1, 1fr);

          .singlePortfolio {
            gap: 1.5rem;

            .iconDiv {
              img {
                height: 60px;
                width: 60px;
              }
            }
          }
        }
      }

      .rightContent {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 80;
        img {
          border-radius: 10px;
          margin: auto;
          max-width: 80%;
        //   border: 2px solid red;
        }
      }
    }
  }
}

@media screen and (min-width: 820px) {
  .portfolio {
    .secContainer {
      grid-template-columns: repeat(2, 1fr);
      .leftContent {
        .secHeading {
          h3 {
            font-size: 2rem;
          }

          p {
            font-size: var(--h3FontSize);
          }
        }

        .grid {
          grid-template-columns: repeat(1, 1fr);

          .singlePortfolio {
            gap: 1.5rem;

            .iconDiv {
              img {
                height: 60px;
                width: 60px;
              }
            }
          }
        }
      }

      .rightContent {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 80;
        img {
          border-radius: 10px;
          max-width: 100%;
          height: 30rem;
        }
      }
    }
  }
}
